:root {

  --color-1-background-onyx: #36393b;

  --color-2-asparagus: #60993e;

  --color-3-sandy-brown: #ee964b;

  --color-4-engineering-orange: #b80c09;

  --color-5-anti-flash-white: #efefef;
}

* {
  border: 0;
  padding: 0;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

body {
  background-color: var(--color-1-background-onyx);
  color: var(--color-5-anti-flash-white);
  text-align: center;
}

.form {
  align-items: center;
  background-color: var(--color-5-anti-flash-white);
  border-radius: 10px;
  color: var(--color-1-background-onyx);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  width: 70%;
}

.form input {
  border: 1px solid var(--color-1-background-onyx);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
}

.password-requirements {
  list-style-type: none;
}

.password-requirements li {
  font-size: 0.8rem;
}

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 600;
  padding: 5px;
}

button:hover {
  background-color: var(--color-1-background-onyx);
  border: 1px solid var(--color-5-anti-flash-white);
  color: var(--color-5-anti-flash-white);
}

.btn-register {
  background-color: var(--color-2-asparagus);
  color: var(--color-5-anti-flash-white);
  margin-right: 5px;
  margin-top: 20px;
}

.btn-cancel {
  background-color: var(--color-3-sandy-brown);
  color: var(--color-5-anti-flash-white);
  margin-left: 5px;
}

.card-service {
  background-color: var(--color-5-anti-flash-white);
  border-radius: 10px;
  color: var(--color-1-background-onyx);
  margin: 15px 15%;
  padding: 10px;
}

